.app {
  width: 100%;
  height: calc(100vh - var(--header-height));
  min-height: calc(100vh - var(--header-height));
  padding: 0 5%;
}

.app .container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.app .container .texto {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 80%;
  margin: 3rem;
  padding-right: 3rem;
  border-right: 1px solid black;
}

.app .container .texto p {
  font-size: 1.5rem;
}

.container .texto h2 {
  font-size: 3rem;
}

.app .container .imagen {
  width: 50%;
  height: 80%;
}

@media (max-width: 1000px) {
  .app .container .imagen {
    display: none;
  }

  .app .container .texto {
    border: none;
    color: black;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    background-image: url("./assets/fondo4.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

@media (max-width: 450px) {
  .app .container .texto p {
    font-size: 1.2rem;
  }

  .app .container .texto h2 {
    font-size: 2.2rem;
  }
}
