.app {
  background-color: white;
  padding: 0 5%;
}

.app .titulo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  margin-bottom: 1rem;
  background-color: var(--color-2);
  height: 4rem;
}

.app .galery {
  margin: 1rem 0;
  display: grid;
  --width: 18rem;
  /*nota: donde dice --with en un valor muy cercano al ancho del item a utilizar*/
  grid-template-columns: repeat(auto-fill, minmax(var(--width), 1fr));
  gap: 0.5rem;
  place-content: center;
}
.app .galery .feature {
  width: var(--width);
  height: 20rem;
}

@media (max-width: 1306px) {
  .app .galery {
    --width: 18rem;
  }
}

@media (max-width: 1191px) {
  .app .galery {
    --width: 30rem;
  }
}

@media (max-width: 1075px) {
  .app .galery {
    --width: 26rem;
  }
}

@media (max-width: 933px) {
  .app .galery {
    --width: 22rem;
  }
}

@media (max-width: 791px) {
  .app .galery {
    --width: 18rem;
  }
}

@media (max-width: 648px) {
  .app .galery {
    --width: 100%;
  }
}
