.app {
  height: 100vh;
  width: 100%;
  background-image: url("./assets/fondo-desktop.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.app .redesSociales {
  grid-row: 4/5;
  grid-column: 2/-2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app .redesSociales ul {
  list-style: none;
  display: flex;
}

.app .redesSociales ul li {
  margin-right: 1rem;
}

.app .redesSociales ul li:last-child {
  margin-right: 0;
}

.facebook {
  width: 4rem;
  height: 4rem;
  background-image: url("./assets/facebook.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.whatsapp {
  width: 4rem;
  height: 4rem;
  background-image: url("./assets/whatsapp.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (max-width: 1280px) {
  .app {
    background-size: 100% 100%;
  }
}

@media (max-width: 768px) {
  .app {
    background-image: url("./assets/fondo-mobile.png");
    background-size: cover;
  }
}
