.app {
  height: 100vh;
  width: 100%;
  background-image: url("./assets/fondo-desktop.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media (max-width: 768px) {
  .app {
    background-image: url("./assets/fondo-mobile.png");
    background-size: cover;
  }
}
