.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: transparent;
  padding: 1rem;
  text-align: center;
  /*
  box-shadow: 0.1rem 0.1rem 0.3rem rgba(0, 0, 0, 0.1);
  */
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: var(--header-height);
  z-index: 99;
  transition: all 0.3s ease-in-out;
}

.header .bars {
  width: 2rem;
  height: 2rem;
  background-image: url("./../../../public/bars-black.svg");
  background-size: cover;
  display: none;
}

.header .logo {
  background-image: url(./assets/vercel.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 6rem;
  height: 3rem;
}

.header nav {
  transition: left 0.3s ease-in-out;
}

.header nav ul {
  display: flex;
  list-style-type: none;
}

.header nav ul li {
  margin-right: 2rem;
  font-size: 1.1rem;
}

.header nav ul li:last-child {
  margin-right: 0rem;
}

.header nav ul li a {
  text-decoration: none;
  color: var(--color-4);
  font-weight: bold;
  display: inline-block;
  transition: all 0.3s ease;
}

.header nav ul li a:hover {
  color: var(--color-3);
  transform: translateY(-3px);
}

.solicitarServicio {
  background-color: var(--color-2);
  border-radius: 0.3rem;
  color: var(--color-1);
  font-weight: bold;
  text-decoration: none;
  padding: 0.5rem;
  border: 1px transparent solid;
}

.solicitarServicio:hover {
  background-color: var(--color-1);
  color: var(--color-2);
  border: 1px var(--color-2) solid;
}

.header .open {
  left: 0;
}

@media (max-width: 750px) {
  .header {
    justify-content: space-between;
  }

  .header .bars {
    display: block;
  }
  .header .logo {
    display: block;
  }
  .header nav {
    position: absolute;
    top: var(--header-height);
    left: -100%;
    width: 100%;
    height: 100vh;
    background-color: var(--color-1);
    opacity: 1;
    display: flex;
    justify-content: center;
  }
  .header nav ul {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 1rem;
  }
  .header nav ul li {
    margin-right: 0;
    margin-bottom: 1rem;
  }
}
