.app {
  color: var(--color-1);
  background-color: var(--color-4);
  padding: 2rem 5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.app .enlacesInternos {
  grid-column: 1 / span 1;
  grid-row: 1/-2;
  display: flex;
  flex-direction: column;
}

.app .informacionDeContacto {
  grid-column: 2 / span 1;
  grid-row: 1/-2;
}

.app .redesSociales {
  grid-column: 3 / span 1;
  grid-row: 1/-2;
}

.app .redesSociales h3 {
  text-align: center;
}

.app .redesSociales ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.app .redesSociales ul li {
  display: inline-block;
  margin-right: 1rem;
}

.app .redesSociales ul li:last-child {
  margin-right: 0;
}

.app .redesSociales li .logoFacebook {
  margin-top: 1rem;
  width: 2rem;
  height: 2rem;
  background-image: url("./assets/facebook-logo.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.logoWhatsapp {
  margin-top: 1rem;
  display: block;
  width: 2rem;
  height: 2rem;
  background-image: url("./assets/whatsapp.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.app .textoDeCopyright {
  grid-column: 1/-1;
  grid-row: -2/-1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app ul {
  list-style-type: none;
}

.app a {
  text-decoration: none;
  color: white;
}

@media (max-width: 850px) {
  .app {
    display: flex;
    flex-direction: column;
  }

  .app .enlacesInternos {
    display: block;
    order: 3;
    margin-bottom: 1rem;
  }
  .app .informacionDeContacto {
    display: block;
    order: 2;
    margin-bottom: 1rem;
  }

  .app .redesSociales {
    display: flex;
    flex-direction: column;
    height: auto;
    align-items: center;
    order: 1;
    margin-bottom: 1rem;
  }
  .app .textoDeCopyright {
    order: 4;
    display: block;
    text-align: center;
  }
  .app .enlacesInternos h3 {
    cursor: pointer;
  }
  .app .enlacesInternos ul {
    display: none;
  }

  .app .enlacesInternos h3:focus,
  .app .enlacesInternos ul:hover {
    display: block;
  }
}
