.app {
  height: calc(100vh - var(--header-height));
  display: flex;
  flex-wrap: wrap;
  padding: 0 5%;
  --title-height: 4rem;
}

.app .titulo {
  background-color: var(--color-2);
  width: 100%;
  height: var(--title-height);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}

.app .mapa {
  width: 50%;
  height: calc(100% - var(--header-height));
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5%;
}

.app .datos {
  width: 50%;
  height: calc(100% - var(--header-height));
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.app .datos .fila {
  width: 100%;
  min-height: 4rem;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-row: 1fr;
}

.app .datos .fila .valor {
  text-align: right;
  font-size: 1.3rem;
  font-weight: bold;
}

.facebook {
  width: 100%;
  grid-row: 1/2;
  grid-column: 1/2;
  background-image: url("./assets/facebook-3-logo-svgrepo-com.svg");
  background-size: 100% 100%;
}

.whatsapp {
  width: 100%;
  grid-row: 1/2;
  grid-column: 1/2;
  background-image: url("./assets/whatsapp-svgrepo-com.svg");
  background-size: 100% 100%;
}

.call {
  width: 100%;
  grid-row: 1/2;
  grid-column: 1/2;
  background-image: url("./assets/phone-call-essential-svgrepo-com.svg");
  background-size: 100% 100%;
}

.direccion {
  width: 100%;
  grid-row: 1/2;
  grid-column: 1/2;
  background-image: url("./assets/maps-gps-svgrepo-com.svg");
  background-size: 100% 100%;
}

.correo {
  width: 100%;
  grid-row: 1/2;
  grid-column: 1/2;
  background-image: url("./assets/email-mail-svgrepo-com.svg");
  background-size: 100% 100%;
}

@media (max-width: 750px) {
  .app {
    height: auto;
  }
  .app .mapa {
    width: 100%;
  }

  .app .datos {
    width: 100%;
  }

  .app .datos .fila .valor {
    font-size: 1rem;
  }
}
